body {
    margin-top: 50px;
}

.thumbnail {
    height: 400px;
}

.thumbnail-img {
    height: 250px;
    width: 140px;
}

.book-thumbnail{
    height: 180px;
    width: 100px;
}

.book-display-img,
.book-display-details{
    margin-top: 25px;
}

.book-display-img img {
    height: 200px;
    width: 175px;
}

.user-display-img,
.user-display-details{
    margin-top: 25px;
}

.user-display-img img {
    height: 200px;
    width: 175px;
}


