<div class="thumbnail">
    <a href="{{ url_for('showBook', book_id = book.id) }}">
        {% if book.image %}
            <img src="{{ book.image }}" class="thumbnail-img" alt="book-cover">
        {% else %}
            <img src="http://www.thereadersclub.com/templates/images/no_book_cover.jpg" class="thumbnail-img" alt="book-cover">
        {% endif %}
    </a>
    
    <div class="caption">
        <h3>{{ book.name }}</h3>
        <p>{{ book.description | truncate(60) }}</p>
        <p>
            <a href="{{ url_for('showBook', book_id = book.id) }}" class="btn btn-primary">View</a>
            {% if session.user_id == book.user.id %}
            <a href="{{ url_for('editBook', book_id = book.id) }}" class="btn btn-default">Edit</a>
            <a href="{{ url_for('deleteBook', book_id = book.id) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </p>
    </div>
</div>