{% extends 'base.html' %}

{% block content %}
{% include 'navBar.html' %}
{% include 'header.html' %}

<form method="post" action="#">
    <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" name="name" class="form-control" value="{{ category.name }}">
    </div>
    <p>
        <input type="submit" class="btn btn-primary" value="Update">
        <a href="{{ url_for('showBookCategory', book_cat_id = category.id) }}" class="btn btn-default">Cancel</a>
    </p>
</form>

{% include 'footer.html' %}
{% endblock %}