{% extends 'base.html' %}

{% block content %}
{% include 'navBar.html' %}
{% include 'header.html' %}

<div class="row">
    <div class="left-side-bar">
        <div class="well well-sm col-md-4">
            {% include 'categoryList.html' %}
        </div>
    </div>
    <div class="main-content">
        <div class="well well-sm col-md-8">
            <h1>Recently added books</h1>
            {% if recent_books %}
                <ul>
                {% for book in recent_books %}
                    <li>{{ book.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
        </div> 
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}

