{% extends 'base.html' %}

{% block title %}Catalog App | Books{% endblock %}

{% block content %}
{% include 'navBar.html' %}
{% include 'header.html' %}

<div class="row">
    <div class="left-side-bar">
        <div class="well well-sm col-md-4">
            {% include 'categoryList.html' %}
        </div>
    </div>
    <div class="main-content">
        <div class="well well-sm col-md-8">
            <h1 class="text-center">Recently added books</h1>
            {% if books %}
                <div class="row">
                {% for book in books %}
                    <div class="col-sm-6 col-md-4">
                    {% include 'bookThumbnail.html' %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p>There are no books in the database yet!</p>
            {% endif %}
        </div> 
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}

