
    <div class="page-header">
        <h1 class="text-left">Book Catalog App</h1>
        <p>An app that demonstrates the use of Python, Flask, SQLAlchemy and Oauth2.</p>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash alert alert-warning text-center">
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
