{% extends 'base.html' %}

{% block content %}
{% include 'navBar.html' %}
{% include 'header.html' %}

<div class="row">
    <div class="main-content">
        <div class="well well-sm ">
            <h1 class="text-center" >{{ current_category.name | upper }}</h1>
            {% if books %}
                <ul>
                {% for book in books %}
                    <li>{{ book.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
        </div> 
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}